<!DOCTYPE html>
<html>
  <%- include('./partials/_head'); %>
  <body>
    <main class="main d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center flex-column main__container">
        <h1 class="mb-2">Register a new account</h1>
        <hr />
        <form id="registerForm" class="form needs-validation mt-2">
          <div class="mb-3">
            <label class="me-3" for="inputUsername"> Username </label>
            <input
              type="text"
              class="form-control"
              id="inputUsername"
              placeholder="username"
              value="adela"
            />
            <div class="username invalid-feedback"></div>
          </div>
          <div class="mb-3">
            <label class="me-3" for="inputEmail"> Email address </label>
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              placeholder="email"
              value="adela@adela.com"
            />
            <div class="email invalid-feedback"></div>
          </div>
          <div class="mb-3">
            <label class="me-3" for="inputPassword"> Password </label>
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              placeholder="Password"
              value="adela"
            />
            <div class="password invalid-feedback"></div>
          </div>
          <div class="mb-3">
            <label class="me-3" for="inputPasswordConfirm"
              >Confirm Password
            </label>
            <input
              type="password"
              class="form-control"
              id="inputPasswordConfirm"
              placeholder="Confirm password"
              value="adela"
            />
            <div class="confirm-password invalid-feedback"></div>
          </div>

          <button type="submit" class="btn btn-primary mb-1 mt-3 btn-login">
            Register
          </button>

          <p>Already have an account? <a href="/auth/login">Login</a></p>
        </form>
      </div>
    </main>
    <script src="javascripts/script.js"></script>
  </body>
</html>
