<!DOCTYPE html>
<html>
  <%- include('./partials/_head'); %>
  <body>
    <%- include('./partials/_navbar'); %>
    <div class="main-container">
      <aside id="filtersContainer" class="aside p-2">
        <div class="search card">
          <label for="quickSearch" class="fw-bolder">
            Quick search
            <input
              id="inputQuickSearch"
              type="text"
              class="search-input"
              name="quickSearch"
              placeholder="Search brand..."
            />
          </label>
          <button
            id="btnAll"
            type="button"
            class="btn btn-outline-light btn-reset search-button--hidden"
          >
            x
          </button>
        </div>
        <div id="brandFilters" class="card">
          <p class="fw-bolder">Choose phone brand</p>
        </div>
        <div id="priceFilters" class="card">
          <label for="minPrice" class="fw-bolder">
            Enter minimum price
            <input type="number" id="minPrice" name="minPrice" />
          </label>
          <br />
          <label for="maxPrice" class="fw-bolder">
            Enter maximum price
            <input type="number" id="maxPrice" name="maxPrice" />
          </label>
        </div>
        <div class="card">
          <p class="fw-bolder">Select property to sort by</p>
          <div class="d-flex flex-column justify-content-between">
            <select name="cars" id="sortProperties"></select>
          </div>
          <button id="btnCancelSort" class="btn btn-primary">cancel</button>
        </div>
        <div id="availabilityFilters" class="card">
          <p class="fw-bolder">Choose availability</p>
        </div>
        <button id="btnSearch" type="button" class="btn btn-primary">
          Search
        </button>
        <button id="btnReset" type="button" class="btn btn-outline-primary">
          Reset filters
        </button>
      </aside>
      <main class="main p-2">
        <h1><%= title %></h1>
        <div id="productList"></div>
      </main>
    </div>

    <div class="toast-container position-absolute p-3 top-0 end-0">
      <div class="toast" id="myToast">
        <div class="toast-header">
          <strong class="me-auto"
            ><i class="bi-gift-fill"></i> Product added to cart</strong
          >
          <button
            type="button"
            class="btn-close me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
