@import url(./style-variables.css);

.main-container {
  display: flex;
  flex-direction: row;
}

.main {
  flex: 1;
}
.aside {
  width: 222px;
}
.filter-container {
  width: 30%;
}

.search.card {
  position: relative;
}
.btn-reset {
  position: absolute;
  top: 26px;
  right: 16px;
  color: #0d6efd;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button--hidden {
  display: none;
}
.discounted {
  text-decoration: line-through;
}
.list-group-item:hover {
  background-color: #cfe2ff;
}

.list__item {
  width: 100%;
}
.card {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

/* styles for form validation */
.username,
.password,
.confirm-password,
.email {
  display: none;
}

/* style for the delete dialog */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  transition: opacity 0.15s linear;
}

.edit-user {
  display: none !important;
}
.edit-user--visible {
  display: inherit !important ;
}
