@import url("./style-general.css");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
main {
  width: 100%;
  height: 100%;
  background-color: var(--color-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-grey-titles);
}

.btn-primary {
  width: 250px;
}
