:root {
  --color-bg: #fff;
  --color-grey-dark: #1e1e1e;
  --color-grey: #9b9b9b;
  --color-pink: #ffe3e3;
  --color-black: #000;
  --color-white: #fff;
  --color-white-gray: #ccc;
}

[data-theme="dark"] {
  --color-bg: #221c3b;
  --color-grey-dark: #f5f5f5;
  --color-grey: #f5f5f5;
  --color-pink: #827397;
  --color-black: #000;
  --color-white: #fff;
}

body {
  color: var(--color-grey-dark);
  background-color: var(--color-bg);
  font-family: "Montserrat", "Cardo", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  letter-spacing: 3px;
}

.container {
  width: 1280px;
}

.nav,
.add__container {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.nav {
  margin-top: 100px;
  margin-bottom: 130px;
}
.nav .nav__container {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav .nav__container .nav__link {
  text-decoration: none;
  font-size: 11px;
  margin-left: 100px;
  color: var(--color-grey-dark);
}
.add__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add__container .button,
.readmore__container .button,
.modal .button {
  background: none;
  cursor: pointer;
  outline: inherit;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid var(--color-grey);
  border-radius: 50px;
  height: 60px;
  width: 300px;
  text-transform: uppercase;
  margin-bottom: 90px;
  vertical-align: middle;
}

.add__container .button span {
  font-size: 27px;
  vertical-align: middle;
}

.title {
  font-size: 46px;
  line-height: 57px;
  margin-bottom: 30px;
  text-align: center;
}
.info__container {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-grey);
}

.info__container .info__item:before {
  content: "·";
  font-size: 20px;
  vertical-align: text-bottom;
  line-height: 18px;
  margin: 0px 20px;
}

.info__container .info__item:first-child::before {
  content: "";
}
.info__container .info__item .info__mark {
  color: var(--color-grey-dark);
  font-weight: 600;
}
.actions__container {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.actions__container .actions__btn {
  font-size: 14px;
  line-height: 18px;
}

.actions__container .actions__btn:first-of-type::after {
  content: "|";
  margin: 0 10px;
}

article img {
  height: 720px;
  width: 100%;
  margin-bottom: 80px;
}

.content__container {
  font-family: "Cardo";
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
}
.content__container p {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 30px;
}

.content__container p.saying {
  background-color: var(--color-pink);
  color: var(--color-black);
  font-size: 28px;
  line-height: 30px;
  font-family: "Montserrat";
  font-style: italic;
  padding: 105px 0;
  width: 95%;
  text-align: center;
  margin: 75px auto;
}
.readmore__container {
  margin-bottom: 100px;
  margin-top: 140px;
}

.readmore__container {
  display: flex;
  justify-content: center;
}

.readmore__container a {
  text-decoration: none;
  color: var(--color-grey-dark);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 100px;
  font-size: 34px;
  line-height: 42px;
}
.modal__overlay {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal {
  height: 750px;
  width: 1000px;
  padding-left: 75px;
  padding-right: 75px;
  background-color: var(--color-bg);
  box-shadow: 0px 0px 26px 6px rgba(155, 155, 155, 1);
  -webkit-box-shadow: 0px 0px 26px 6px rgba(155, 155, 155, 1);
  -moz-box-shadow: 0px 0px 26px 6px rgba(155, 155, 155, 1);
}
.modal__content .title {
  margin: 50px 0;
  font-size: 46px;
  text-align: center;
}
.modal__content .inputs__container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.modal__content .inputs__container .input {
  width: 400px;
  padding: 0 10px;
  height: 35px;
  margin-bottom: 25px;
  border: 1px solid var(--color-grey);
  border-radius: 5px;
  font-size: 18px;
  line-height: 25px;
}
.modal__content .textarea {
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 25px;
  width: 97.8%;
  resize: vertical;
  max-height: 100%;
}
.modal__content .modal__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.modal__content .modal__buttons .button--pink {
  background-color: var(--color-pink);
}

.show-modal {
  display: flex;
}

.home {
  justify-content: end;
}

/*Toggle switch for dark theme*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--color-white-gray);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--color-pink);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Spinner loader*/

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  display: none;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--color-bg);
  color: var(--color-grey-dark);
  font-size: 18px;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  box-shadow: 0px 0px 26px 6px rgb(155 155 155);
  -webkit-box-shadow: 0px 0px 26px 6px rgb(155 155 155);
  -moz-box-shadow: 0px 0px 26px 6px rgba(155, 155, 155, 1);
}

#snackbar.show {
  display: inherit;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
